<div class="input-wrap">
  <span class="input-label">{{title}}</span>
  <input
    class="{{styles}}"
    type="{{type}}"
    name="{{name}}"
    placeholder="{{placeholder}}"
    pattern="{{pattern}}"
  />
  <div class="input-border"></div>
  <span class="input-validate-message">{{validate-message}}</span>
</div>
