<div class="account-input-wrap">
  <div class="account-input-label-wrap">
    <span class="account-input-label">{{title}}</span>
    <input
      class="{{styles}}"
      type="{{type}}"
      name="{{name}}"
      placeholder="{{placeholder}}"
    />
  </div>
  <div class="account-input-border"></div>
  <div class="account-input-validate-message-wrap">
    <span class="account-input-validate-message">{{validate-message}}</span>
  </div>
</div>
